<template>
    <div>
      <h4>Auteurs</h4>
      <table>
        <tr>
          <th>
            Nom
          </th>
          <th>
            Age
          </th>
          <th>
            Email
          </th>
        </tr>
        <tr v-for="user in users">
          <td>
            {{ user.name }}
          </td>
          <td>
            {{ user.age }}
          </td>
          <td>
            {{ user.email }}
          </td>
        </tr>
      </table>
      <br>
      <h4>Articles</h4>
      <table>
        <tr>
          <th>
            Titre
          </th>
          <th>
            Contenu
          </th>
          <th>
            Auteur
          </th>
        </tr>
        <tr v-for="post in posts">
          <td>
            {{ post.title }}
          </td>
          <td>
            {{ post.content }}
          </td>
          <td>
            {{ post.user }}
          </td>
        </tr>
      </table>
    </div>
</template>
<script>
import axios from 'axios';

export default {
  name: 'compoInfos',
  data() {
    return {
      users: [],
      posts: [],
    }
  },
  created(){

  },
  mounted(){
    this.getAllUsers();
    this.getAllPosts();
  },
  methods:{
    getAllUsers(){
        fetch('http://localhost/getUsers')
        .then((response) => response.json())
        .then((data) => this.users = data);

    },
    getAllPosts(){
        fetch('http://localhost/getPosts')
        .then((response) => response.json())
        .then((data) => this.posts = data);
    },
  },
}
</script>