<template>
  <div id="app">
    <compoInfos/>
  </div>
</template>

<script>
import compoInfos from './components/compoInfos.vue'

export default {
  name: 'App',
  components: {
    compoInfos
  }
}
</script>
